.wrapper-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15%;
  justify-content: center;
  margin-top: 0.2em;
  font-size: 0.9em;
  background-color: rgba(2, 2, 2, 0.3);
  border-radius: 0.5em;
  box-shadow: 0px 0px 0px 0px rgba(245, 245, 245, 1);
  padding: 2rem 0;
}

#form {
  /* border: solid 1px white; */
  margin-bottom: 20px;
}

input {
  height: 1.3rem;
}

#sendBtn {
  display: flex;
  justify-self: end;
}

#contact {
  text-align: center;
  width: 20%;
}

#contact div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  text-align: left;
}

.contact-text {
  margin: 1em 0;
  white-space: nowrap;
}

#links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#youtubelink,
#linkeldnlink,
#artstationlink {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: 700;
  padding: 0.1em 0.4em;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content;
  align-self: flex-start;
}

#contact a:hover {
  background-color: #2d3640;
  color: #bfbfbf;
  border-radius: 0.5em;
}

#youtubelink {
  color: #b34141;
  font-family: "Montserrat", Arial, sans-serif;
}

#artstationlink {
  color: #2975cc;
  font-family: "Georgia", serif;
}

#linkeldnlink {
  color: #1180db;
  font-family: "Arial", Arial, sans-serif;
}

.confirmation-text {
  font-size: 0.8em;
}

/* photo */
.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.confirmation-photo img {
  max-width: 300px;
  height: auto;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
}

@media (max-width: 600px) {
  #youtubelink,
  #linkeldnlink,
  #artstationlink {
    font-size: 0.8em;
    line-height: 1.1em;
  }

  .contact-form {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  #contact div,
  #form div {
    text-align: center;
  }
}
