.film-grid {
  display: grid;
  grid-template-columns: 0.4fr 0.2fr 1.5fr 0.2fr 4.5fr 0.2fr 1.5fr 0.2fr 0.4fr;
  grid-template-rows: auto 0.2fr auto;
  border-radius: 12px;
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  margin: 0 auto;
}

.film-cell,
.photo-cell,
.info-cell {
  background-color: rgba(2, 2, 2, 0.3);
}

.film-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.empty-cell {
  position: relative;
}

.photo-cell {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

/* central marks */
.info-cell {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-transparent,
.bottom-transparent {
  background-image: url("../../public/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 35px;
}

.info {
  display: flex;
  justify-content: center;
}

.info img {
  width: 40%;
  height: auto;
}

#photoName {
  width: 35%;
  margin: 10px;
}

/* small marks */
#top17 {
  transform: rotate(270deg) translate(0%, -45%);
  transform-origin: center;
  width: 200%;
}

#top20 {
  transform: rotate(270deg) translate(0%, -45%);
  transform-origin: center;
  width: 200%;
}

#bottom17 {
  transform: rotate(270deg) translate(0%, -10%);
  transform-origin: center;
  width: 100%;
}

#bottom20 {
  transform: rotate(270deg) translate(0%, -10%);
  transform-origin: center;
  width: 100%;
}

#photomark {
  transform: rotate(270deg);
  transform-origin: center;
  z-index: 10;
  width: 500%;
}

/* @media all and (max-width: 1500px) {
} */

/* nav */
#homeNav {
  background-color: #202930;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  margin-bottom: 20px;
  /* border: solid white 1px; */
}

#homeFooter {
  /* border: solid white 1px; */
  background-color: #202930;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: 24px;
  padding-bottom: 24px;
}
