/* login */
.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

#loginButton img {
  height: 3em;
  width: auto;
  display: block;
}

/* login form */
.login-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-form input {
  padding: 1px;
  border-radius: 5px;
}

.login-form-container {
  margin-top: 10px;
  padding: 0px;
  height: 10px;
}
