/*-video admin panel--*/
#admin-counter-panel {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px 10px 20px;
}

.adminPanel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.deleteButton {
  background-color: #b34141;
  color: white;
  border: none;
}

.adminInput {
  padding: 6px 12px;
  height: 2.2em;
  width: 3.5em;
  box-sizing: border-box;
  border: none;
  margin: 0;
}

.desc {
  padding: 6px 12px;
  height: 2.2em;
  width: 10em;
  box-sizing: border-box;
  border: none;
  margin: 0;
}

.reorder {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-size: 0.8em;
  margin: 0;
}

#color-picker {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#changeColor {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.4s;
  background: conic-gradient(red, orange, yellow, green, blue, purple, red);
  cursor: pointer;
}

#changeColor:hover {
  transform: scale(0.9, 0.9);
}

.tooltip {
  display: none;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 4px 6px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
}

#changeColor:hover .tooltip {
  display: block;
}

.tooltipdesc {
  display: block;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #394652;
  color: #84a4c9;
  padding: 6px 10px;
  font-size: 0.9em;
  border-radius: 4px 4px 0 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, top 0.3s ease;
  z-index: 10;
  text-align: center;
  white-space: nowrap;
}

.video-img:hover .tooltipdesc {
  opacity: 0.7;
  top: 0%;
  pointer-events: auto;
}
