#pagination {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  opacity: 0.9;
}

.paginationButton {
  width: 37px;
  height: 37px;
  background-color: rgba(240, 248, 255, 0);
  border: none;
  box-shadow: none;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
