.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card3 {
  margin: 12px auto;
  width: 250px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  perspective: 1000px;
}

@media all and (max-width: 1500px) {
  .card3 {
    margin: 24px auto;
    width: 230px;
    height: 230px;
  }
}

.card3 .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card3 .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

/* .card3:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
} */

/* @media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
} */

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card3.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.card-front {
  background-color: #000;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-back {
  background-color: #000;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#play-button div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 20px;
  border-radius: 12px;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.card-front:hover #play-button div {
  display: flex;
}

/* crud menu */
#admin-counter-panel {
  position: absolute;
  top: 80%;
  right: 0;
  background-color: rgba(52, 50, 50, 0.85);
  border-radius: 8px;
  z-index: 2;
  font-size: 0.8rem;
  color: #84a4c9;
}
