body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.2em;
  background-color: #1f2224;
  color: #84a4c9;
  max-width: 1500px;
  margin: 0 auto;
}
body, .page-container {
  display: flex;
  flex-direction: column;
  min-height: 85vh; /* Full height of the viewport */
}

/* Main content should grow to take available space */
main {
  flex-grow: 1;
}

/*-burger menu--*/
.burger-menu {
  position: absolute;
  right: 0.5em;
  display: inline-block;
}

.burger-button {
  background-color: #2d3640;
  color: #84a4c9;
  padding: 5px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  width: 4em;
}

.menu-content {
  display: none;
  position: absolute;
  left: auto;
  right:0;
  background-color: #2d3640;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  opacity: 0.6;
}

.menu-content a {
  color: #84a4c9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-content a:hover {
  background-color: #394652;
}

.menu-content.open {
  display: block;
}
/*-end--*/


/*-nav menu--*/
nav {
  border-bottom: 0.2em solid black;
  text-align: center;
  top: 0;
  background-color: #1f2224;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Default row */
  justify-content: center;
}

nav li {
  padding-top: 24px;
  padding-bottom: 24px;
}

nav a {
  text-decoration: none;
  color: #84a4c9;
  font-size: 0.9em;
  font-family: "Montserrat", Arial, sans-serif;
  padding: 24px 32px;
}

nav a:hover {
  background-color: #2d3640;
  color: #bfbfbf;
  border-radius: 0.5em;
}

.nav-right {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
}

@media screen and (max-width: 860px) { /* middle screen nav */
  nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


  }
  nav a{
    padding: 12px 16px;
  }

  nav li {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/*-end--*/

#wrapper {
  width: 95%;
  margin: auto;
  padding-top: 4em;
  padding-bottom: 4em;
}

.aboutme {
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 0px 0px 0px rgba(245, 245, 245, 1);
  background-color: #2d3640;
  padding: 6%;
  border-radius: 0.5em;
}

#contact {
  text-align: center;
  width: 20%;
  margin: 2%;
  padding: 0.3em 1em 0.3em 0.3em;
}

#contact a:hover {
    background-color: #2d3640;
    color: #bfbfbf;
    border-radius: 0.5em;
}

#youtubelink,
#linkeldnlink,
#artstationlink {
  text-decoration: none;
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: 700;
}

@media (max-width: 600px) {
  #youtubelink,
  #linkeldnlink,
  #artstationlink {
    font-size: 0.8em;
    line-height: 1.1em;
  }
}

#youtubelink {
  color: #b34141;
  font-family: "Montserrat", Arial, sans-serif;
}

#artstationlink {
  color: #2975cc;
  font-family: "Georgia", serif;
}

#linkeldnlink {
  color: #1180db;
  font-family: "Arial", Arial, sans-serif;
}

#findme {
  width: 75%;
}

.abouttext {
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
  font-size: 0.9em;
  color: #bfbfbf;
}

.amvtext {
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
  font-size: 0.9em;
  color: #84a4c9;
}

.headertext {
  font-size: 1.9em;
  font-family: "Montserrat", Arial, sans-serif;
  text-align: center;
  margin-bottom: 2em;
}

iframe {
  border: 0.15em solid #394652;
  border-radius: 0.5em;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;
}

/* middle screen */
@media (min-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .video-grid {
    justify-content: center;
  }
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #394652;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
}

.video-item iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.video-item p {
  margin-bottom: 8px;
  font-size: 0.8em;
  font-weight: bold;
}

.video-item button {
  margin-top: 8px;
  padding: 8px 12px;
  font-size: 0.8em;
  cursor: pointer;
}

button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.9em;
  background-color: black;
  color: #84a4c9;
  border-radius: 0.5em;
  padding: 8px;
}

button:hover{
  color: #bfbfbf;
}

.adminPanel{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.deleteButton{
  background-color: #b34141;
  color: white;
}

.adminInput {
  padding: 6px 12px;
  width: 60px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 8px 0 0 0;
}

.reorder {
  display: flex;
  gap: 5px;
  align-items: center;
}

footer {
  /*border-top: 0.2em solid black;*/
  text-align: center;
  width: 100%;
  background-color: #1f2224;
  bottom: 0;
  display: flex;
  justify-content: flex-end
}

input,
textarea {
  display: block;
  width: 300px;
  height: min(3em);
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  border: 2px solid black;
  margin-bottom: 8px;
}

.numberInput{
  width: 3em;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#confirm{
  background-color: #b34141;
  color: aliceblue;
}

#cancel{
  background-color: darkgreen;
  color: aliceblue;
}

.message {
  color: green;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.adminlayout{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.content {
  display: flex;
  justify-content: end;
}

#pagePanel{
  background-color: #1f2224;
}

@media (max-width: 600px) {
  .adminlayout {
    display: flex;
    flex-direction: column;

  }
}

.edit-form{
  background-color: #2d3640;
  border-radius: 5px;
  padding: 10px;
  opacity: 0.8;
  margin-bottom: 1em;
}


#findme{
  padding: 0;
  margin: 0;
  width: 130%;
}

#logo img{
  max-height: 8.5em;
  padding: 0;
  margin: 0;
}

#me img{
  max-width: 2em;
  padding: 0;
  margin: 0;
}

#arrow img{
  max-width: 4em;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  #logo img {
    max-height: 5em;
  }

  #me img {
    max-width: 1.5em;
  }

  #arrow img {
    max-width: 3em;
  }
}

.menufooter ul{
  list-style-type: none;
  text-align: left;
  padding-left: 2em;
}

.menufooter a{
  text-decoration: none;
  color: #84a4c9;
  font-size: 0.7em;
  padding: 0.2em;
  margin: 0;
}

.menufooter a:hover{
  background-color: #2d3640;
  color: #bfbfbf;
  border-radius: 0.5em;
  padding: 0.2em;
}

/* about page */
.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  padding-right: 70px;
  margin: 0;
}

#me {
  grid-row: 3 / 3;
  grid-column: 1 / 2;
  padding-top: 100px;
  margin-right: -2em;
  text-align:right;
}

#arrow {
  grid-row: 3 / 3;
  grid-column: 1 / 2;
  margin-left: -1em;
  text-align:right;
  padding-top: 100px;
}

#logo {
  grid-row: 1/ 3;
  grid-column: 2 / 4;
  padding: 0;
  margin: 0;
  text-align: left;
}

.row.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: dimgrey;
  font-size: 0.6em;
}

.right-align {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* login */
.login-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

#loginButton img {
  height: 3em;
  width: auto;
  display: block;
}

/* login form */
.login-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-form input {
  padding: 1px;
  border-radius: 5px;
}

.login-form-container {
  margin-top: 10px;
  padding: 0px;
  height: 10px;
}








